name: CI
on:
  workflow_dispatch: # Manual invocation.
  push:
jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java and sbt
        uses: guardian/setup-scala@v1

      - name: SBT
        run: sbt clean compile test Universal/packageBin

      - uses: guardian/actions-riff-raff@v4
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          projectName: rcs-poller-lambda
          buildNumberOffset: 200
          configPath: riff-raff.yaml
          contentDirectories: |
            rcs-poller-lambda-cfn:
              - cfn.yaml
            rcs-poller-lambda:
              - target/universal/rcs-poller-lambda.zip
